<div class="container">
 <form action='/authentication/register_user' method='POST'>
   Username: <input type='text' name='username' />
   Password: <input type='password' name='password' />
   Confirm password: <input type = 'password' name = 'password_confirm' />
   <input type='submit' value='Go!' />
 </form>
</div>